@model Library.Data.Models.Common.GroupModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Group</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.GroupId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">


                @using (Html.BeginForm("Member", "LinkMember", FormMethod.Post))
                {

                    @Html.DropDownList("PersonID", new SelectList(ViewBag.PersonId, "PersonId", "Name"))


                    <button id="Add" type="submit" onclick="RefreshPartial(@Model.GroupId)"
                            class="btn btn-default" data-dismiss="modal">
                        Add
                    </button>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<button type="button" onclick="RefreshPartial(@Model.GroupId)">Click</button>

<script>
    function RefreshPartial(id) {

        //var $form = $("#Add).parents('form');
        //$.ajax({
        //    type: "POST",
        //    data: $form.serialize(),
        //    success: function (result) {
        //        $('#PartialList').html(result);
        //    }
        //});

        $.get('/Groups/List/', { id: id }, function (result) {
            $('#PartialList').html(result);
        }
        );
    }

</script>

<div id="PartialList">@Html.Action("List", "Groups")</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
