@model List<Library.Data.Models.Common.Person>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	




<h2>Index</h2>

<p>
    <a href="/Person/Create">Create</a>
</p>
<table class="table">
	<tr>
		<th>
			Name
		</th>
		<th>
			Email
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Email)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.PersonId }) |
			@Html.ActionLink("Details", "Details", new { id=item.PersonId }) |
			@Html.ActionLink("Delete", "Delete", new { id=item.PersonId })
		</td>
	</tr>
}

</table>
